root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true


[*.txt]
insert_final_newline=false
trim_trailing_whitespace = false
max_line_length=100

[gradlew.bat]
end_of_line = crlf

[*.{kt,kts}]
insert_final_newline=true
max_line_length=100